<!DOCTYPE html>
<html>
    <head>
        <title>Backend Login</title>
        <link rel="stylesheet" href="/bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bs/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script scr="/bs/js/bootstrap.min.js"></script>
        <script>
            function login() {
                document.getElementById('user').value = 'FrankLin';
                document.getElementById('passwd').value = 'pa55w0rd';
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3 signin">
                <form class="form" action="/admin/login" method="post">
                    <div class="form-group">
                        <label onclick='login()'><h1>Backend Login</h1></label>
                        <input class="form-control" type="username" name="username" id='user' placeholder="Username" required/></br>
                        <input class="form-control" type="password" name="password" id="passwd" placeholder="Password" required /></br>
                        <input class="btn btn-default btn-block" type="submit" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>